<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
       
        <label>Ad Soyad</label>
        <input type="text" name="NameSurname" value="" class="form-control" />

        <label>E-Mail</label>
        <input type="text" name="Email" value="" class="form-control" />

        <label>Konu</label>
        <input type="text" name="Subject" value="" class="form-control" />

        <label>Mesaj</label>
        <input type="text" name="Message" value="" class="form-control" />

        <label>Tarih</label>
        <input type="text" name="Date" value="" class="form-control" />
       
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
