@using MvcDynamicCvWebSite.Models.Entity
@model List<Experience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Deneyim Listesi</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Heading</td>
            <td>@item.SubHeading</td>
            <td>@item.Date</td>
            <td><a href="/Experience/DeleteExperience/@item.ID" class="btn btn-danger btn-block"> Sil </a></td>
            <td><a href="/Experience/GetExperience/@item.ID" class="btn btn-warning btn-block"> Düzenle </a></td>
        </tr>
    }
</table>

@*
    Experience: controllerın adı
    AddExperiance : controler içindeki methodun adı
*@
<a href="/Experience/AddExperiance/" class="btn btn-primary"> Yeni Deneyim Ekle </a>
